body{
  font-family:'Oswald', sans-serif;
}

.text{
  position: relative;
  top:15%;
  right: 50%;
  padding-top: 5px;
  margin-top: 5px;
}
.navbar-nav{
  color: white;
}
.title{
  text-align: center;
}
.textff{
text-align: right;
}
