body{
  font-family:'Oswald', sans-serif;
}

.titlehome{
  position: absolute;
  top:15%;
  left: 30%;
  padding-top: 5px;
  margin-top: 5px;
}
.navbar-nav{
  color: white;
}
.title{
  text-align: center;
}

.textff{
text-align: right;
}
